$accent: #82323E; // Old Red
$accent: #cb0036; // Pink
// $accent: #00767d; // Turqoise
// $accent: #00b790;
$matchBlue: #41454C;
$accentedBG: #292c34;
$accentedBG: hsl(hue($accent), 2%, 19%);

$standard-font: Segoe UI, sans-serif;

// MIXINS
@mixin table {
	width: 100%;
	display: table;
	table-layout: fixed;
}

@mixin cell($vdir, $width) {
	display: table-cell;
	vertical-align: $vdir;
	width: $width;
}

@mixin mp0 {
	margin: 0;
	padding: 0;
}

@mixin ulreset {
	@include mp0;
	list-style-type: none;
}

@mixin transform($t) {
	-webkit-transform: $t;
	transform: $t;
}

@mixin border-box {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// ACTUAL STYLE

body {
	background: #fff;
	font-family: $standard-font;
	font-size: 13px;
	@include mp0;
}

// Basic styles

a {
	color: $accent;
	text-decoration: none;
	transition: all 0.2s;

	&:hover {
		color: #7b7b7b;
	}
}

b {
	font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
	@include mp0;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h1, h2 {
	font-weight: 300;
}

#header_wrap {
	@include border-box;

	background: $accentedBG;
	border-top: 1px solid lighten($accentedBG, 7%);
	border-bottom: 2px solid $accent;
	position: fixed;
	width: 100%;

	header {
		@include table;
		width: 1000px;
		margin: auto;

		.logo {
			@include cell(middle, 150px);
			font-size: 21px;

			img {
				padding-top: 5px;
				max-height: 35px;
				max-width: 150px;
			}
		}

		nav {
			@include cell(middle, auto);
			padding-left: 8px;
		
			ul {
				@include ulreset;

				li {
					display: inline-block;

					a {
						display: block;
						text-transform: uppercase;

						padding: {
							left: 12px;
							right: 12px;
							top: 26px;
							bottom: 22px;
						}

						margin-right: 12px;
						margin-bottom: -2px;

						font-size: 13px;
						color: #fff;
						border-bottom: 4px solid transparent;
					}

					&:hover a, &:hover a.active {
						border-bottom: 4px solid #fff;
						font-weight: 600;
						// background: darken($accentedBG, 4%);
						// box-shadow: inset 0px 2px 6px rgba(0, 0, 0, 0.1);
					}

					ul {
						position: absolute;
						width: 200px;
						background: #fff;
						border: 1px solid #eee;
						border-top: 0;
						display: none;

						li {
							display: block;

							a {
								color: $accent;
								border: 0 !important;
								margin-bottom: 0 !important;
							}

							&:hover a {
								border: 0;
								background: #f6f6f6;
							}
						}
					}

					&:hover ul {
						display: block;
					}
				}
			}
		}
	}
}

#aside_wrap {
	background: darken($accentedBG, 4%);

	aside {
		width: 1000px;
		margin: auto;

		.tab {
			@include table;

			.userinfo {
				@include cell(middle, auto);
				text-align: right;
				color: lighten($accentedBG, 72%);
				padding-right: 12px;
				height: 36px;
				padding-bottom: 2px;

				b {
					display: inline-block;
					vertical-align: middle;
					padding-right: 16px;
					border-right: 1px solid lighten($accentedBG, 8%);
				}

				a {
					vertical-align: middle;
					display: inline-block;
					margin-left: 10px;
					margin-right: 8px;
					color: lighten($accentedBG, 50%);

					&:hover {
						color: #fff;
					}
				}
			}

			.avatar {
				@include cell(middle, 32px);

				img {
					margin-top: 3px;
					width: 32px;
					height: 32px;
				}
			}
		}
	}
}

#content {
	width: 1000px;
	margin: auto;
	padding-top: 96px;
	padding-bottom: 32px;
}

footer {
	@include table;
	width: 1000px;
	margin: auto;
	border-top: 1px solid #eee;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 11px;
	color: #999;

	.copyright {
		@include cell(middle, 50%);
	}

	.powered {
		@include cell(middle, 50%);
		text-align: right;

		img {
			height: 32px;
			vertical-align: middle;
		}
	}
}

/* Inputs */
input,
textarea {
	outline: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
	font-family: Source Sans, sans-serif;
	font-size: 13px;

	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;

	border: {
		top: 1px solid #e0e0e0;
		left: 1px solid #eee;
		right: 1px solid #eee;
		bottom: 1px solid #f2f2f2;
	}

	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	transition: border 0.2s;

	&:hover {
		border: 1px solid $accent;
	}

	&:focus {
		border: 1px solid #ccc;
	}
}

// Buttons, Inputs
a.button, input[type=submit] {
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;

	font-family: Source Sans, sans-serif;
	font-size: 13px;

	background: $accent;
	color: #fff;
	border: 0;
	border-radius: 2px;

	&:hover {
		background: lighten($accent, 10%);
	}

	&:active {
		background: darken($accent, 5%);
		box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
	}

	&.darkB {
		$color: $accentedBG;

		background: $color;

		&:hover {
			background: lighten($color, 10%);
		}

		&:active {
			background: darken($color, 5%);
		}
	}

	&.greyB {
		$color: #ccc;
		color: #777;

		background: $color;

		&:hover {
			background: lighten($color, 10%);
		}

		&:active {
			background: darken($color, 5%);
		}
	}
}

/** Special Sections **/
#login {
	width: 33%;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	padding: 32px;
	background: #fdfdfd;
	border-radius: 2px;
	border: 1px solid #f3f3f3;

	h1 {
		text-align: center;
		margin-bottom: 20px;
	}

	form {
		

		input {
			@include border-box;
			display: block;
			width: 100%;
			margin-bottom: 12.5px;

			&[type=submit] {
				margin-bottom: 0;
			}
		}
	}
}

#forum {

	.category {
		margin-top: 20px;
	}

	.forums, .topics {
		margin-top: 20px;
		border-radius: 2px;
		border: 1px solid #eee;

		.nothing {
			text-align: center;
			padding: 20px;

			h2 {
				@include mp0;
				color: #999;
			}
		}

		.forum, .topic {
			@include table;
			@include border-box;
			padding: 20px;
			border-bottom: 1px solid #eee;
			background: #fff;

			&:last-child {
				border-bottom: 0;
			}

			/* &:nth-child(even) {
				background: #fbfbfb;
			} */

			.icon {
				@include cell(middle, 54px);

				img {
					max-height: 32px;
					max-width: 32px;
				}
			}

			.title {
				@include cell(middle, auto);
			
				h3 {
					@include mp0;
					font-weight: 400;
				}

				span {
					color: #777;
				}
			}

			.count {
				@include cell(middle, 74px);
				text-align: center;
				color: #777;
				font-size: 11px;

				span {
					display: block;
					font-size: 18px;
				}
			}

			.lastPost {
				@include cell(middle, 250px);
				padding-left: 20px;
			}
		}
	}

	#topic {
		.post.first {
			.meta {
				@include table;
				border-bottom: 1px solid #eee;
				padding-bottom: 16px;
				padding-top: 16px;

				.avatar {
					@include cell(middle, 64px);

					img {
						width: 64px;
						height: 64px;
					}
				}

				.userinfo {
					@include cell(middle, auto);
					padding-left: 20px;

					h2 {
						@include mp0;
						margin-top: -7px;
					}

					time {
						color: #999;
						font-size: 12px;
					}
				}
			}

			.content {
				padding: 20px;
			}
		}

		.post.other {

		}
	}
}

#profile {
	margin-top: -58px;

	.profile_header_wrap {
		background: darken($accentedBG, 4%);

		header {
			@include table;

			width: 1000px;
			margin: auto;
			color: #fff;
		
			.avatar {
				@include cell(middle, 150px);

				img {
					margin-top: 2px;
					max-width: 150px;
					max-height: 150px;
				}
			}

			.meta {
				@include cell(middle, auto);

				padding-left: 32px;
			
				h1 {
					@include mp0;
					font-size: 36px;
					font-weight: 300;
				}
			}
		}
	}
}

/* Errors */
.info {
	padding: 5px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 12px;

	background: {
		color: $accented-BG;
		image: url(../../../images/icons/info/info.svg);
		repeat: no-repeat;
		position: 20px center;
	}

	padding: 12.5px;
	min-height: 25px;
	padding-left: 50px;

	&.error {
		background: {
			color: #cc0000;
			image: url(../../../images/icons/info/error.svg);
			position: 13px center;
		}
	}

	&.question {
		background: {
			color: #ffaa00;
			image: url(../../../images/icons/info/question.svg);
			position: 17.5px center;
		}
	}

	&.success {
		background: {
			color: #669900;
			image: url(../../../images/icons/info/success.svg);
			position: 13px center;
		}
	}

	&.special {
		background: {
			color: $accent;
			image: url(../../../images/icons/info/special.svg);
			position: 17.5px center;
		}

		&.light {
			background-color: #999;
		}

		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&.special-alt {
		background: {
			color: $accent;
			image: url(../../../images/icons/info/special.alt.svg);
			position: 13px center;
		}
	}
}

/* General */
.grey {
	color: #777;
}