$accent: #82323E;
$matchBlue: #41454C;

$standard-font: Segoe UI, sans-serif;

// MIXINS
@mixin table {
	width: 100%;
	display: table;
	table-layout: fixed;
}

@mixin cell($vdir, $width) {
	display: table-cell;
	vertical-align: $vdir;
	width: $width;
}

@mixin mp0 {
	margin: 0;
	padding: 0;
}

@mixin ulreset {
	@include mp0;
	list-style-type: none;
}

@mixin transform($t) {
	-webkit-transform: $t;
	transform: $t;
}

@mixin border-box {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

// ACTUAL STYLE

body {
	background: #fbfbfb;
	font-family: $standard-font;
	font-size: 13px;
	@include mp0;
}

// Basic styles

a {
	color: $accent;
	text-decoration: none;
	transform: color 0.2s;

	&:hover {
		color: #7b7b7b;
	}
}

h1, h2, h3, h4, h5, h6 {
	@include mp0;
	margin-bottom: 10px;
	letter-spacing: -1px;
}

h1, h2 {
	font-weight: 300;
}

#header_wrap {
	@include border-box;

	background: #fff;
	border-bottom: 3px solid $matchBlue;
	position: fixed;
	width: 100%;

	header {
		@include table;
		width: 1000px;
		margin: auto;

		.logo {
			@include cell(middle, 150px);
			font-size: 21px;

			img {
				padding-top: 7px;
				max-height: 35px;
				max-width: 150px;
			}
		}

		nav {
			@include cell(middle, auto);
		
			ul {
				@include ulreset;

				li {
					display: inline-block;

					a {
						display: block;

						padding: {
							left: 26px;
							right: 26px;
							top: 18px;
							bottom: 18px;
						}

						font-size: 14px;
						color: $accent;
					}

					&:hover a, &:hover a.active {
						border-bottom: 3px solid $accent;
						color: #fff;
						background: $accent;
						margin-bottom: -3px;
					}

					ul {
						position: absolute;
						width: 200px;
						background: #fff;
						border: 1px solid #eee;
						border-top: 0;
						display: none;

						li {
							display: block;

							a {
								color: $accent;
								border: 0 !important;
								margin-bottom: 0 !important;
							}

							&:hover a {
								border: 0;
								background: #f6f6f6;
							}
						}
					}

					&:hover ul {
						display: block;
					}
				}
			}
		}

		.user {
			@include cell(middle, 195px);

			.tab {
				@include table;

				.username {
					@include cell(middle, auto);
					text-align: right;
					color: #999;
					padding-right: 27px;
					height: 49px;
					cursor: pointer;

					.links {
						display: block;

						a {
							display: inline;
						}
					}

					.rsaquo {
						position: absolute;
						font-size: 14px;
						margin-left: 5px;
						margin-top: 1px;
						@include transform(rotateZ(90deg));
					}

					ul {
						@include ulreset;
						display: none;
						position: absolute;
						background: #fff;
						border: 1px solid #e0e0e0;
						border-top: 0;
						width: 120px;
						margin-top: 17px;
						margin-left: 9px;

						li {
							display: block;

							a {
								display: block;
								line-height: 35px;
								height: 35px;
								padding-left: 20px;
								padding-right: 20px;

								&:hover {
									background: #f6f6f6;
									color: #999;
								}
							}
						}
					}

					&:hover {
						ul {
							display: block;
						}	
					}
				}

				.avatar {
					@include cell(middle, 55px);

					img {
						width: 56px;
						height: 56px;
						margin-top: -8px;
						margin-bottom: -10px;
					}
				}
			}
		}
	}
}

#content {
	width: 1000px;
	margin: auto;
	padding-top: 96px;
	padding-bottom: 32px;
}

footer {
	@include table;
	width: 1000px;
	margin: auto;
	border-top: 1px solid #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 11px;
	color: #999;

	.copyright {
		@include cell(middle, 50%);
	}

	.powered {
		@include cell(middle, 50%);
		text-align: right;

		img {
			height: 32px;
			vertical-align: middle;
		}
	}
}

/* Inputs */
input,
textarea {
	outline: 0;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
textarea {
	font-family: Source Sans, sans-serif;
	font-size: 13px;

	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;

	border: {
		top: 1px solid #e0e0e0;
		left: 1px solid #eee;
		right: 1px solid #eee;
		bottom: 1px solid #f2f2f2;
	}

	box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
	border-radius: 2px;

	transition: border 0.2s;

	&:hover {
		border: 1px solid $accent;
	}

	&:focus {
		border: 1px solid #ccc;
	}
}

// Buttons, Inputs
a.button, input[type=submit] {
	padding: 10px;
	padding-left: 14px;
	padding-right: 14px;

	font-family: Source Sans, sans-serif;
	font-size: 13px;

	background: $accent;
	color: #fff;
	border: 0;
	border-radius: 2px;

	&:hover {
		background: lighten($accent, 10%);
	}

	&:active {
		background: darken($accent, 5%);
		box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
	}

	&.darkB {
		$color: #444;

		background: $color;

		&:hover {
			background: lighten($color, 10%);
		}

		&:active {
			background: darken($color, 5%);
		}
	}

	&.greyB {
		$color: #ccc;
		color: #777;

		background: $color;

		&:hover {
			background: lighten($color, 10%);
		}

		&:active {
			background: darken($color, 5%);
		}
	}
}

/** Special Sections **/
#login {
	width: 33%;
	margin: auto;
	margin-top: 64px;
	margin-bottom: 64px;
	padding: 32px;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

	h1 {
		text-align: center;
		margin-bottom: 20px;
	}

	form {
		

		input {
			@include border-box;
			display: block;
			width: 100%;
			margin-bottom: 12.5px;

			&[type=submit] {
				margin-bottom: 0;
			}
		}
	}
}

#forum {

	.category {
		margin-top: 20px;
	}

	.forums, .topics {
		margin-top: 20px;
		border-radius: 2px;
		box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);

		.forum, .topic {
			@include table;
			@include border-box;
			padding: 20px;
			border-bottom: 1px solid #eee;
			background: #fff;

			&:last-child {
				border-bottom: 0;
			}

			/* &:nth-child(even) {
				background: #fbfbfb;
			} */

			.icon {
				@include cell(middle, 54px);

				img {
					max-height: 32px;
					max-width: 32px;
				}
			}

			.title {
				@include cell(middle, auto);
			
				h3 {
					@include mp0;
					font-weight: 400;
				}

				span {
					color: #777;
				}
			}

			.count {
				@include cell(middle, 74px);
				text-align: center;
				color: #777;
				font-size: 11px;

				span {
					display: block;
					font-size: 18px;
				}
			}

			.lastPost {
				@include cell(middle, 250px);
				padding-left: 20px;
			}
		}
	}
}

#profile {
	margin-top: -70px;

	.profile_header_wrap {
		background: $matchBlue;

		header {
			@include table;

			width: 1000px;
			margin: auto;
			color: #fff;
		
			.avatar {
				@include cell(middle, 150px);

				img {
					max-width: 150px;
					max-height: 150px;
				}
			}

			.meta {
				@include cell(middle, auto);

				padding-left: 32px;
			
				h1 {
					@include mp0;
					font-size: 36px;
					font-weight: 300;
				}
			}
		}
	}
}

/* Errors */
.info {
	padding: 5px;
	margin-bottom: 5px;
	color: #fff;
	font-size: 12px;

	background: {
		color: $accented-BG;
		image: url(../images/icons/info/info.svg);
		repeat: no-repeat;
		position: 20px center;
	}

	padding: 12.5px;
	min-height: 25px;
	padding-left: 50px;

	&.error {
		background: {
			color: #cc0000;
			image: url(../images/icons/info/error.svg);
			position: 13px center;
		}
	}

	&.question {
		background: {
			color: #ffaa00;
			image: url(../images/icons/info/question.svg);
			position: 17.5px center;
		}
	}

	&.success {
		background: {
			color: #669900;
			image: url(../images/icons/info/success.svg);
			position: 13px center;
		}
	}

	&.special {
		background: {
			color: $accent;
			image: url(../images/icons/info/special.svg);
			position: 17.5px center;
		}

		&.light {
			background-color: #999;
		}

		a {
			color: #fff;
			text-decoration: underline;
		}
	}

	&.special-alt {
		background: {
			color: $accent;
			image: url(../images/icons/info/special.alt.svg);
			position: 13px center;
		}
	}
}

/* General */
.grey {
	color: #777;
}